body
{
 
 background-color:#000000;
}
canvas#CanvasOne 
{
	position:absolute;
	top:0px;
	left:0px;
}

div#Menu_Debug 
{
	/*background-color:#FFFFFF;
	width:200px;
	height:50px;*/
	display: none;
  position: absolute;
	bottom: 0px;
	left: 0px;
	color: #FFFFFF;
	width: 315px;
}

div#Menu_Loading
{
  background-color: rgba(255, 255, 255, 1.0);
  position: absolute;
  width: 300px;
  margin-left: -150px;
  height:190px;
  margin-top: -80px;
  top: 30%;
  left: 50%;
  color: #000000;
  padding: 10px;
 border-radius:5px;
}


div#Menu_Start 
{
  background-color: rgba(255, 255, 255, 1.0);
  position: absolute;
  width: 500px;
  margin-left: -250px;
  height:320px;
  margin-top: -160px;
  top: 30%;
  left: 50%;
  color: #000000;
  padding: 10px;
 border-radius:5px;
 display:none;
}

div#Menu_Paused
{
display: none;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0px;
	left: 0px;
	color: #000000;
	width: 100%;
	height: 100%;

}

div#Menu_Beat_Level
{
display: none;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0px;
	left: 0px;
	color: #000000;
	width: 100%;
	height: 100%;

}

div.Center
{
  padding:10px;
  position:Relative;
  margin: 100px auto 0px auto;
  width: 500px;
  text-align:left;
  background-color: rgba(255, 255, 255, 1.0);
}

input.Color
{
 	width:30px;
 
}
#SelectModel {
	width: 150px;
}
#SelectShader {
	width: 150px;
}
